/* Journey to the Center of the Earth Practicum*/
/*Lori-Ann Nembhard*/

/*body{
    background-color: #765729;
}*/

/* Since header and footer have similar style, 
I grouped them together as shown below*/

header{
    background-color: rgba(255,255,255, .75);
    text-align: center;
    border: 20px solid  #886644;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    margin:3px 5px 5px ;

   
   
    
    
}
nav {
    text-align: center;
    border: 3px solid #886644;
    box-shadow: 5px 5px 5px #765729 inset;
    background-color: rgba(255,255,255, .75);
}
 
nav li{
    display: inline;
    border-left: 2px double black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    
}
nav li:first-child{
    border: none;
}

main{
    border: solid #886644;
    margin: 5px 5px 5px ;
    padding: 15px;
    box-shadow: 5px 5px 5px #765729 inset;
    
    
}
aside{
    border: solid #886644;
    box-shadow: 5px 5px 5px #765729 inset;
    margin: 3px 3px 3px;
    padding: 20px;
    
  
}
figure {
text-align: center;
font-weight: italic;

float: left;
clear: right;

}

figcaption{
    font-style: italic;
}
h2{
    font-weight: bold;  
    text-decoration: underline dotted black; 
    
}

.character{
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #886644;
    text-decoration: underline;
}
body{
    background-image: linear-gradient(#765729, black);
}
header, main, aside{
    background-color: rgba(255,255,255, .75);
   
}

:lang(fr), :lang(is), :lang(it){
    font-style: italic;}


 main img{
     
     margin: 10px;
     padding: 20px;
     float: left;
     
 }

#cover{
    width: 200px;
    
    float: left;
}
/* #cryptogram{
     text-align: center;
 }
 #cryptogram{
     width:70%;
     max-width: 30rem;
     
 }*/

main p:first-of-type::first-line
{
    
    font-size: 150%;
}

header{
    text-align: center;
    background-image: url(/img/cave.jpg);
    background-size: 100%;
    border: solid #886644 ;
    box-shadow: 5px 5px 20px black inset;
    font-family: georgia;
    font-weight: bold;
    color: white;
    font-size: larger;
    text-shadow: .5px 1px white ; 
}
.opinion{
    text-align:center;
}
.submission   {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    border: solid;
    margin-top: 10px;
    background-color: rgba(255,255,255, .5);
}
.signature{
    text-align: right;
    
}
footer{
    background-color: rgba(255,255,255, .75);
    border: solid #765729;
    box-shadow: 5px 5px 50px gray inset;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    margin:3px 5px 5px ;
   
}